#######################################################
# .NET build
#######################################################
**/bin/
**/obj/

#######################################################
# IDE
#######################################################
.vs/
.vscode/

#######################################################
# Logs
#######################################################
*.log

#######################################################
# Local uploads / storage (inside your server project)
#######################################################
Unholycast_/files/

#######################################################
# Database files anywhere in repo
#######################################################
*.db
*.sqlite
*.sqlite3
